* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
html {
  font-size: 20px;
  width: 100%;
  background-color: black;
  color: white;
}
body {
  background-image: url('https://w0.peakpx.com/wallpaper/342/421/HD-wallpaper-darken-pattern-black-swirl-gray-pattern-dark.jpg');
  background-position: center;
  background-size: cover;
  font-size: 1.5rem;
  width: 100%;
  overflow-x: scroll;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  font-size: 1rem;
}
nav {
  width: 20%;
  margin-right: 1%;
}
img {
  width: 50px;
  height: 50px;
  margin: 0px 10px 0px 10px;
}
nav > ul {
  display: none;
}
nav > ul > li {
  list-style: none;
  margin: 0px 10px 0px 10px;
}
h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #f1f1f1;
  margin: 12px;
}
main {
  position: relative;
  top: 10%;
  left: 0;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 500px;
  width: 96%;
  height: 100vh;
  margin: 2%;
  padding: 3%;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
}
section {
  background-color: black;
  max-width: 300px;
  min-width: 100px;
  margin: 1%;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f1f1f1;
  margin: 8px;
}
p {
  font-weight: 300;
  color: #f1f1f1;
  margin: 4px;
}
p {
  font-weight: 300;
  color: #f1f1f1;
  margin: 4px;
}
article {
  position: relative;
  top: 20%;
  left: 0;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 500px;
  width: 96%;
  height: 100vh;
  margin: 2%;
  padding: 3%;
  border: 2px solid #f1f1f1;
}
.second {
  background-color: #f1f1f1;
  color: #333;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

#item1 {
  background-color: #f1f1f1;
  color: red;
}

#item2 {
  background-color: #f1f1f1;
  color: green;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  margin: 2%;
}

@media (min-width: 480px) {
  nav {
    width: 50%;
    margin-right: 1%;
  }
  nav > img {
    display: none;
  }
  nav > ul {
    display: flex;
    align-items: flex-end;
  }
  nav > ul > li {
    list-style: none;
    margin: 0px 10px 0px 10px;
  }
  main {
    height: 50vh;
  }
  article {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 10%;
  }
  .section {
    max-width: 96%;
    min-width: 100px;
    margin: 2%;
  }
  #red {
    background-color: red;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 / 4;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  #yellow {
    background-color: yellow;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  #blue {
    background-color: blue;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  #purple {
    background-color: purple;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  #violet {
    background-color: violet;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  #pink {
    background-color: pink;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
}
